.cmn-btn{
    margin-right: 10px;
}

.cpt-order-btn{
    margin-right: 0 !important;
}

.up .no-data{
  padding: 10px 0 !important;
}

.search-form{
  margin-top: 10px;
  float: right;
  margin-bottom: 25px;
}

.search-form div{
  display: inline;
}

.search-form label{
  font-size: 16px;
}

.search-form input{
  width: 150px;
  padding: 7px;
  border: 1px solid #006699;
  outline: none;
}

.search-form button{
  background-color: #006699;
  color: #fff;
  font-size: 14px;
  padding: 9px 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #006699;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px red;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .from{
    float: left;
    width: 30%;
  }

  .from .shm-table{
    text-align: justify;
    border: none !important;
  }

.from .shm-table tr,td{
    border:none !important;
  }

  .pl{
    padding-left: 20px !important;
  }

.from .shm-table td:last-child {
      padding-top: 10px !important;
  }

  .to{
    float: right;
    width: 30%;
  }

  .to .cus-table{
    text-align: justify;
    border: none !important;
  }

 .to .cus-table tr,td{
    border:none !important;
  }

  .to .cus-table td:last-child {
      padding-top: 10px !important;
  }

  tr:nth-child(even){
    background-color: #f2f2ff;
  }

  td.name {
    font-weight: 700;
    font-size: 20px;
  }
 
  .pending{
    background-color: #FFbf00 !important;
  }

  .completed{
    background-color: rgb(21, 198, 21) !important;
  }

