.category{
    float: left;
    width: 100% !important;
}
.category input{
    width: 100% !important;
}
.cat-btn{
    float: right;
    width: 20%;
    font-size: 16px !important;
}
.card{
    margin-top: 110px;
    margin-bottom: 40px;
    margin-right: 5px;
    background-color: #fff;
}

.card-body{
    padding: 30px;
}

.ttl .cmn-btn a{
    color: #fff;
}

textarea{
    width: 95%;
}

.ttl{
    padding-bottom: 10px;
}

.ttl .cmn-h3{
    float: left;
    font-weight: 700;
}

.ttl button{
    float: right;
}

.l-col{
    float: left;
    width: 50%;
}

.r-col{
    float: right;
    width: 50%;
}

.r-col:last-child{
    margin-bottom: 10px;
}

.input-gp{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.input-gp select{
    padding: 12px 5px;
    width: 90%;
    outline: none;
}

.input-gp label{
    font-size: 20px;
    display: inline-block;
    padding-bottom: 15px; 
}

.input-gp input{
    width: 90%;
    border: 1px solid;
    padding: 13px 10px;
    outline: none;
}

.message{
    width: 100% !important;
}

.message label{
    font-size: 20px;
    display: inline-block;
    margin-top: 15px;
    padding-bottom: 15px; 
}

.photo input[type=file]{
    padding: 10px;
}

.btn-gp .cmn-btn{
    margin-top: 20px;
}

.msg{
    font-weight: 700;
    font-size: 14px;
    color: red;
    margin-top: 5px;
}

table{
    border: 1px solid black !important;
    border-collapse: collapse;
    margin-top: 30px !important;
    text-align: center;
    width: 100%;
}

th,tr,td{
    border: 1px solid black !important;
}

td{
    padding: 10px 0px !important;
}

th{
    padding: 10px 26px !important;
}

.btn-div .col1{
    float: left;
}

.btn-div .col2{
    float: right;
}
